modules = ["python-3.12", "nodejs-20", "web", "nix"]
run = "python3 backend/app.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python undefined"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Start Flask Server"

[[workflows.workflow]]
name = "Start Flask Server"
author = 38061824
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 backend/app.py"
